/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0px 10px;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.title-logo {
  font-size: 40px;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
  color: black;
}

.main-nav {
  margin-top: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.title-logo:hover, .nav-link:hover {
  color: #fff;
}

.main {
  height: 85vh;
  background-image: url(top.jpg);
  background-size: cover;
}

.footer {
  height: 5vh;
  text-align: center;
  padding-top: 4px;
}